<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Journal prompt #<%= @journal_prompt.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/journal_prompts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/journal_prompts/<%= @journal_prompt.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit journal prompt
        </a>
      </div>

      <div class="col">
        <a href="/delete_journal_prompt/<%= @journal_prompt.id %>" class="btn btn-block btn-outline-secondary">
          Delete journal prompt
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Prompt text
      </dt>
      <dd>
        <%= @journal_prompt.prompt_text %>
      </dd>

      <dt>
        Day
      </dt>
      <dd>
        <%= @journal_prompt.day %>
      </dd>

      <dt>
        Journal method
      </dt>
      <dd>
        <% if @journal_prompt.journal_method.present? %>
          <a href="/journal_methods/<%= @journal_prompt.journal_method_id %>">
            <%= @journal_prompt.journal_method.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@journal_prompt.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@journal_prompt.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "journal_prompt_templates/journal_prompt_user_entries" %>
  </div>
</div>
