<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Quote #<%= @quote.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/quotes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/quotes/<%= @quote.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit quote
        </a>
      </div>

      <div class="col">
        <a href="/delete_quote/<%= @quote.id %>" class="btn btn-block btn-outline-secondary">
          Delete quote
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @quote.body %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @quote.author %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@quote.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@quote.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

