<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All journal methods
    </h1>

    <a href="/journal_methods/new" class="btn btn-block btn-outline-secondary">
      Add a new journal method
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "journal_method_templates/journal_methods_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @journal_methods.each do |journal_method| %>
      <tr>
        <td>
          <%= journal_method.id %>
        </td>

        <td>
          <%= journal_method.name %>
        </td>

        <td>
          <%= journal_method.description %>
        </td>

        <td>
          <%= time_ago_in_words(journal_method.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(journal_method.updated_at) %> ago
        </td>

        <td>
          <a href="/journal_methods/<%= journal_method.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @journal_methods, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
