<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Journal method #<%= @journal_method.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/journal_methods" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link journal_method start -->
      <div class="col">
        <a href="/journal_methods/<%= @journal_method.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit journal method
        </a>
      </div>
      <!-- Edit link journal_method end -->

      <!-- Delete link journal_method start -->
      <div class="col">
        <a href="/delete_journal_method/<%= @journal_method.id %>" class="btn btn-block btn-outline-secondary">
          Delete journal method
        </a>
      </div>
      <!-- Delete link journal_method end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @journal_method.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @journal_method.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@journal_method.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@journal_method.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "journal_method_templates/journal_method_journal_prompts" %>
  </div>
</div>
<!-- Show Page Customization end -->
