<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Journal method #<%= @journal_method.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/journal_methods" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/journal_methods/<%= @journal_method.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit journal method
        </a>
      </div>

      <div class="col">
        <a href="/delete_journal_method/<%= @journal_method.id %>" class="btn btn-block btn-outline-secondary">
          Delete journal method
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @journal_method.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @journal_method.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@journal_method.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@journal_method.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "journal_method_templates/journal_method_journal_prompts" %>
  </div>
</div>
